h1{
    background-color: black;
    color: white;
}
h1 span{
    color: cyan;
    font-weight: bold;
    font-family: cursive;
}
h2{
    background-color: blueviolet;
    font-style: italic;
    color: white;
    text-align: center;
}
h3{
    background-color: aqua;
    text-align: right;
    text-decoration: underline;
    font-family: monospace;
}